@font-face {
    font-family: karla-regular;
    src: url('Karla-Regular.ttf');
}

@font-face {
    font-family: roboto-light;
    src: url('Roboto-Light.ttf');
}

@font-face {
    font-family: rubik-light;
    src: url('Rubik-Light.ttf');
}

@font-face {
    font-family: rubik-bold;
    src: url('Rubik-Bold.ttf');
}

.help-bug-image {
    height:100px;
    width:100px;
    margin:1em;
}

.help-bug-card {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:250px;
    padding:1em;
    margin:1em;
}

.help-bug-card:hover {
    background-color:rgb(247, 247, 247);
}

.help-bug-header {
    font-size:21px;
    font-family: rubik-bold;
    margin-bottom:0.5em;
}

.help-bug-description {
    font-size:15px;
    font-family: karla-regular;
    text-align:center;
    color: rgb(143, 143, 143);
}

.help-container {
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
    overflow:hidden;
    border-radius: 10px;
    padding:2em;
}

.help-modal-body {
    height:400px;
    padding:0;
}

.help-form-container {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
}

.help-form {
    width:80%;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.help-button {
    margin-top:1em;
	display:flex;
	justify-content: center;
	align-items:center;
	background-color: transparent;
	border-radius: 5px;
	border:none;
	background: #ea9d9d;
	outline:none;
	color:white;
	font-size:15px;
	font-family: montserrat-medium;
	width: 150px;
	height:40px;
}

.account-header {
    font-family: karla-regular;
    font-size:40px;
    margin-bottom: 1em;
    border-radius: 10px;
    color:rgb(78, 78, 78);
}

.help-subheader {
    font-family: karla-regular;
    font-size:25px; 
    padding-bottom:2vh;
    padding-left:1vw;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.fade-in {
    animation: fadeIn 1s ease-in 0s both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.help-textarea {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
    width: 100%;
    height: 150px;
    margin-top: 1em;
    margin-bottom: 1em;
    resize: none;
}

.login-spinner {
	border: 4px solid #ffffff;
	border-top: 4px solid #34dba3;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 0.7s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 450px) {
    .help-container {
        justify-content:flex-start;
    }

    .help-bug-card {
        align-self:center;
    }
}