@font-face {
    font-family: karla-regular;
    src: url('Karla-Regular.ttf');
}

@font-face {
    font-family: roboto-light;
    src: url('Roboto-Light.ttf');
}

@font-face {
    font-family: rubik-light;
    src: url('Rubik-Light.ttf');
}


.account-container {
    display:flex;
    flex-direction:column;
    height:100%;
    width:100%;
    padding:2em;
}

.account-subheader {
    font-family: karla-regular;
    font-size:25px; 
    padding-bottom:2vh;
    padding-left:1vw;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.account-username-container, .account-email-container, .account-password-container {
    margin-top:4vh;
    margin-bottom:4vh;
    margin-left:1vw;
    display: flex;
    transition: height .3s ease;
}

.account-username-container p, .account-email-container p, .account-password-container p {
    font-size:20px;
    font-family:roboto-light;
    width:25%;
}

.account-password-container {
    padding-bottom:0;
    margin-bottom:0;
    border-bottom:none;
}

.account-information-text {
    color:rgb(145, 145, 145);
    align-self: center;
    justify-self: center;
}

.account-placeholder-container {
    display:flex;
    justify-content: center;
    align-items: center;
    transition: height .8s ease;
}

.account-expanded {
    height:250px;
    transition: height .8s ease;
}

.account-password-placeholder {
    background-color: transparent;
    border: none;
    width:200px !important;
	border: 1px solid rgba(0, 0, 0, 0.281);
	outline:none;
    padding:0.8em;
    align-self: center;
}

.account-button-container {
    align-self: center;
}

.account-edit-button {
    font-size:15px !important;
    color:#679cff;
    text-align: center;
    cursor:pointer;
    user-select: none; 
}

.account-submit-button {
    align-self: flex-start;
    border:none;
    padding-left:0.8em;
    padding-right:0.8em;
    padding-top:0.8em;
    padding-bottom:0.8em;
    background-color:#ff6767;
    color:white;
    width:200px !important;
    text-align: center;
    border-radius:5px;
    cursor:pointer;
    margin-left:1vw;
    margin-top:1em;
    user-select: none; 
}

.account-input-container {
    transition: height .3s ease;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    margin-top:4vh;
    margin-left:1vw;
}

.account-input {
    background-color: transparent;
	border: none;
    border: 1px solid rgba(0, 0, 0, 0.281);
    border-radius:5px;
    outline:none;
    margin-right:2vw;
    padding:0.8em;
    width: 300px;
    
}

.account-plan {
    padding-top:4em;
    position:relative;
}

.fade-in {
    animation: fadeIn 1s ease-in 0s both;
}

.account-profile {
    display:flex;
    flex-direction:column;
    border-radius: 10px;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1020px) {
    .account-container {
        overflow-y: auto;
        margin-top:0em;
        margin-bottom:0em;
        height:100%;
        width:100%;
    }

    .account-username-container, .account-email-container, .account-password-container {
        flex-direction:column;
    }

    .account-password-placeholder {
        align-self: flex-start !important;
        padding:1em;
    }
    .account-information-text {
        align-self: flex-start !important;
        margin-bottom:1em;
    }

    .account-button-container {
        align-self: flex-start !important;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
    }

    .account-profile {
        border: none;
        border-radius: 10px;
        padding:1em;
        margin:1em;
        margin-top:4em;
    }

    .account-expanded {
        height: 300px;
    }

    .account-placeholder-container {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .account-input-container {
        flex-direction:column;
    }

    .account-input {
        margin-top:1vh;
    }

    .account-profile {
        padding:0;
        margin:0;
    }
    

}