.register-form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;

	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.register-form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.register-header {
	font-weight: bold;
	margin: 0;
}


/* .signup-button {
    border-radius: 20px;
	border: 1px solid #eb6f69;
	background-color: #eb6f69;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.signup-button:active {
	transform: scale(0.95);
}

.signup-button:focus {
	outline: none;
}

.signup-button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
} */