@font-face {
    font-family: myriad-pro;
    src: url('MyriadPro-Regular.woff');
}

@font-face {
    font-family: roboto-light;
    src: url('Roboto-Light.woff');
}

body {
    font-family: myriad-pro;
}

.collab-page {
    height:100vh;
}

.header {
    position:relative;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 700px) 1fr;
    min-height:50px;
    background-image: white;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.cosign-header-text {
    grid-column-start: 1;
    width: 70%;
    margin: auto;
    font-family: roboto-light;
    font-size: 30px;
    color: black !important;
    text-decoration: none !important;
}

.tools {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.signature-button {
    border:none;
    background-color: white;
    border-left: solid 1px rgba(0, 0, 0, 0.05);
    border-right: solid 1px rgba(0, 0, 0, 0.05);
}

.signature-button:hover {
    background-color: #33c4a0;
}

.clipboard-button {
    border:none;
    background-color: white;
    line-height: 0;
    padding: 1 0 0 0;
    margin-left: 1em;
}

.clipboard-button:hover {
    background-color: #33c4a0;
}

.signature-button-icon {
    height: 20px;
}

.clipboard-button-icon {
    height: 20px;
}

.clipboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    flex-shrink: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

#canvas-container {
    display:flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #E9EBEF;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
}

.wrapper {
    flex-shrink: 0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    height:100%;
}

.popup-content {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 220px;
}

.signature-canvas {
    width: 600px;
    height: 150px;
    margin: auto;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.popup-button-container {
    width:100%;
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: center;
}

.popup-button {
    outline: none;
    border: none;
    border-radius: 10px;
    height:60%;
    width:15%;
    background-color: white;
    font-family:roboto-light;
}

.popup-button:hover {
    background-color: #33c4a0;
    color: white;
}

.text-popup {
    font-family: myriad-pro;
    font-size: 25px;
    margin:auto;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
}

.alert {
    position: absolute;
    top: 10%;
    width: 30%;
    left: 34.7%;
}

.page-number {
    font-family: sans-serif;
    padding: 0.3em 0.6em 0.3em 0.6em;
    background-color: rgb(182, 182, 182);
    border-radius: 5px;
    color: white;
}

.download-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-button {
    border: none;
    padding: 0.5em 1.5em 0.5em 1.5em;
    background-color: #33c4a0;
    font-family:roboto-light;
}

.download-button:hover {
    background-color: #29977c;
}

.browser-page-number {
    font-family: sans-serif;
    padding: 0.3em 0.6em 0.3em 0.6em;
    background-color: rgb(182, 182, 182);
    border-radius: 5px;
    color: white;
    transition: 0.2s linear;
}

.light-up {
    background-color: rgb(51, 185, 134);
    transition: 0s linear;
}

.body-container {
    display: flex;
    height: calc(100% - 100px);
    z-index: 1;
}

.browser-page-container {
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: #E9EBEF;
}

#browser-canvas-container {
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: #E9EBEF;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
}