@font-face {
    font-family: roboto-light;
    src: url('Roboto-Light.woff');
}

body {
    background-color: white;
}

.grid-container {
    position:relative;
    height:100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.nav {
    position:absolute;
    padding: 1em;
    font-size: 20px;
    color: white;
    font-family: roboto-light;
    cursor:pointer;
}

.nav:hover {
    text-shadow: 0px 0px #ffffff;
}

.username {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.create-room-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("join-room-background.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 6;
}

.join-room-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    grid-column-start: 6;
    grid-column-end: 9;
}

.create-room {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    margin-left: 15px;
    margin-right: 15px;
}

.join-room {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    margin-left: 15px;
    margin-right: 15px;
}

.room-header {
    color: white;
    font-family:roboto-light;
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

.file-input-container {
    width:100%;
    display: flex;
    height: 40px;
}

.selected-file {
    font-family:roboto-light;
    height:100%;
    width:100%;
    border-radius: 5px 0px 0px 5px;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    color: white;
    border: none;
}

.selected-file:disabled {
    background-color: rgba(0, 0, 0, 0.2);
}

.selected-file::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.room-input {
    outline: none;
    font-family:roboto-light;
    height:40px;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    color: white;
    border: none;
}

.room-input::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.join-room-input {
    outline: none;
    font-family:roboto-light;
    height:40px;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    padding-left: 10px;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.name-input {
    outline: none;
    font-family:roboto-light;
    height:40px;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    color: white;
    border: none;
}

.name-input::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.join-name-input {
    outline: none;
    font-family:roboto-light;
    height:40px;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    padding-left: 10px;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.custom-file-upload {
    border-left: 1px solid rgba(63, 63, 63, 0.3);
    display: block;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-family:roboto-light;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    padding-right: 12px;
    padding-left: 12px;
    text-align: center;
    line-height: 235%;
}

.create-room-button {
    border: none;
    padding: 0.5em 1.5em 0.5em 1.5em;
    background-color: #33c4a0;
    font-family:roboto-light;
}

.create-room-button:hover {
    background-color: #29977c;
}

.join-room-header {
    text-align: center;
    color: black;
    font-family:roboto-light;
    font-size: 35px;
    margin-bottom: 20px;
}

#pdf-file-input {
    position: absolute; 
    left: -99999rem
}

#accept-pdf {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 999; 
}

.modal-backdrop {
    z-index: 99; 
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    text-align: center;
}

.alert {
    position: absolute;
    width: 70%;
}

.wrapper{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%); 
  }
  .circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #E66069;
    border-radius: 50%;
    animation: loading 1.5s cubic-bezier(.8, .5, .2, 1.4) infinite;
    transform-origin: bottom center;
    position: relative;
  }
  @keyframes loading{
    0%{
      transform: translateY(0px);
      background-color: rgb(255, 255, 255);
    }
    50%{
      transform: translateY(50px);
      background-color: #E66069;
    }
    100%{
      transform: translateY(0px);
      background-color: rgb(255, 255, 255);
    }
  }
  .circle-1{
    animation-delay: 0.1s;
  }
  .circle-2{
    animation-delay: 0.2s;
  }
  .circle-3{
    animation-delay: 0.3s;
  }
  .circle-4{
    animation-delay: 0.4s;
  }
  .circle-5{
    animation-delay: 0.5s;
  }
  .circle-6{
    animation-delay: 0.6s;
  }
  
canvas {
    display: inline !important;
}

.alert-outline-createroomname, .alert-outline-joinroomcode, .alert-outline-joinroomname, .alert-outline-createroomfile {
    box-shadow: 0 0 10px rgb(228, 38, 38);
    border-radius: 5px;
}
