.payment-page-container {
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	overflow-y:auto;
    overflow-x:hidden;
    padding-top:5vw;
    padding-bottom:5vw;
}

.product-logo-subscriptions-page {
    margin-bottom: 3rem;
    font-size: 5vw;
    font-family: montserrat-medium;
    color: rgb(94, 94, 94);
}

.background-strip {
    position: absolute !important;
    top:45%;
    /* margin-top: 25vh; */
    height: 30vw;
    width: 100%;
    background: #cf4d4d;
    z-index:-1;
}

.subscription-header {
    font-family:opensans-semibold;
    font-size:2.6vw;
    margin-bottom:2vw;
}

.subscription-subheader {
    font-family:opensans-regular;
    font-size:1.4vw;
    color:gray;
    margin-bottom:3vw;
}

/* Float four columns side by side */
.subscription-column {
    width:25%;
}

  /* Remove extra left and right margins, due to padding in columns */
.subscription-row {
    /* margin: 0 -5px; */
    display:flex;
    width:80vw;
}

#column-basic-plan {
    border-right-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-color: #CDCDCD;
}

#column-business-plan {
    border-left-style: solid;
    border-width: 1px;
    border-color: #CDCDCD;
}

/* Clear floats after the columns */
.subscription-row:after {
  content: "";
  display: table;
  clear: both;
}

.subscription-cards {
    z-index: 2;
    border-radius:10px;
    overflow:hidden;
    -webkit-box-shadow: 0px 0px 61px -4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 61px -4px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 61px -4px rgba(0,0,0,0.3);
        background-color:white;
}

/* Style the counter cards */
.subscription-card {
    text-align: center;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    

  /* position: absolute !important; */
  /* width: 80vw;
  height: 70vh; */

  /* z-index: 2; */
}

.subscription-title {
    margin-top: 1em;
    font-size: 2vw;
	/* font-family: montserrat-medium; */
}

.subscription-about {
    width:80%;
    margin-top:1.5em;
    font-size:1.1vw;
    color: grey;
    height:4vw;
}

/* #about-basic, #about-pro{
    margin-bottom: 2rem;
} */

/* .subscription-card hr{
} */

.subscription-price-container {
    margin-bottom: 2rem;
}

.subscription-price-container {
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    height:4vw;
}

.subscription-perk {

}

/* #hr-basic, #hr-pro {
    margin-top: 1rem;
} */

.subscription-price {
    font-size: 3vw;
}

.payment-frequency {
    color: grey;
    font-size:1.2vw;
    margin-top: 1rem;
}

.subscription-perks-container {
    margin-top: 2vw;
    margin-bottom: 2vw;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin-left:5%;
}

.subscription-perk {
    display:flex;
    margin:1vw;
}

.subscription-perk-text {
    text-align:left;
    font-size:1.2vw;
    margin-left:1vw;
    font-family: opensans-regular;
}

.subscription-perk img {
    height: 0.8vw;
}

.subscription-perk b {
    font-weight: 1000 !important;
}

.subscription-perk img.tick-mark {
    filter: invert(80%) sepia(45%) saturate(486%) hue-rotate(62deg) brightness(91%) contrast(90%);
}

.subscription-perk img.close-mark {
    filter: invert(36%) sepia(100%) saturate(6675%) hue-rotate(8deg) brightness(104%) contrast(109%);
}

.subscription-button {
    font-family: roboto-light;
    color: white;
    margin-top:1.5em;
    height:3vw;
    width:15vw;
    line-height:3vw;
    font-size:1vw;
    background-color: #e66069;
    border-radius:15px;
    cursor: pointer;
}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .subscription-column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}