.reset-password-container {
	position:absolute;
	top:50%;
	left:50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.1);
	overflow: hidden;
	width: 40%;
	height: 35%;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
}

.reset-password-input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.281);
	outline:none;
	margin-top: 10px;
	width: 50%;
	margin:1em;
}

.reset-password-form {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
}

.reset-password-header {
	font-size:20px;
	margin-top:-1em;
	margin-bottom:1em;
}

.reset-password-form-sent-wrapper {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}